.profile__title {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin: 74px auto 0;
}

.profile__info {
    color: #FFF;
    max-width: 470px;
    padding: 0 30px;
    font-size: 11px;
    font-weight: 500;
    margin: 107px auto 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile__row {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 16px 0;
}

.profile__info .profile__row:first-child {
    border-bottom: 1px solid #424242;
}

.profile__info-title {
    margin: 0;
}

.profile__info-value {
    margin: 0;
    justify-self: end;
    background-color: transparent;
    color: #FFF;
    border: none;
    outline: none;
    text-align: right;
}

.edit-profile {
    background-color: transparent;
    margin: 200px 0 0;
    color: #FFF;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.edit-profile-button {
    height: 45px;
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    color: #FFF;
    background-color: #3456F3;
    border-radius: 3px;
    transition: all .3s;
    margin: 200px 0 70px;
}

.edit-profile-button:hover {
    opacity: .7;
}

.logout {
    color: #EE3465;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 13px;
    margin: 16px 0 70px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .profile__title {
        margin: 236px auto 0;
    }

    .profile__info {
        margin: 83px auto 0;
    }

    .profile__info-title {
        font-size: 11px;
    }

    .profile__info-value {
        font-size: 11px;
    }
}

@media screen and (max-width: 500px) {
    .profile__title {
        margin: 70px auto 0;
    }

    .profile__info {
        margin: 70px auto 0;
    }

    .edit-profile {
        margin: 365px 0 0;
    }
}