.promo-block {
    background-color: #073042;
    padding: 156px 0 122px;
}

.main-title {
    max-width: 730px;
    margin: 0 auto;
    padding: 102px 0;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -2px;
    background-image: url(../../images/top_block_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 768px) {
    .promo-block {
        padding: 298px 0 240px;
    }
}
@media screen and (max-width: 500px) {
    .main-title {
        padding: 70px 0 70px;
        font-size: 31px;
    }
    .promo-block {
        padding: 216px 0 180px;
    }
}