.about-me {
    background-color: #202020;
    padding-top: 116px;
}

.student {
    margin: 66px 0 0;
    display: grid;
    grid-template-columns: minmax(100px, 600px) auto;
    justify-content: space-between;
    grid-template-rows: auto auto 1fr auto;
    column-gap: 49px;
    grid-template-areas: "title img"
        "desc img"
        "about img"
        "link img";
}

.student__name {
    grid-area: title;
    color: #FFF;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -2px;
    margin: 0 0 18px;
}

.student__description {
    grid-area: desc;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    margin: 0 0 26px;
}

.student__about {
    grid-area: about;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    line-height: 1.57;
    margin: 0 0 10px;
}

.student__link {
    grid-area: link;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s;
}

.student__link:hover {
    opacity: 0.7;
}

.student__photo {
    grid-area: img;
}

@media screen and (max-width: 768px) {
    .about-me {
        padding-top: 93px;
    }
    .student__name {
        font-size: 40px;
        line-height: 1;
        margin: 0 0 16px;

    }

    .student__description {
        font-size: 12px;
        margin: 0 0 20px;
        line-height: 1.5;
    }

    .student__about {
        font-size: 12px;
        line-height: 1.5;
    }

    .student__photo {
        max-width: 255px;
    }
}

@media screen and (max-width: 600px) {
    .student {
        grid-template-columns: 1fr;
        margin: 60px 0 0;
        grid-template-rows: auto auto auto 1fr auto;
        column-gap: 0px;
        grid-template-areas: "img"
            "title"
            "desc"
            "about"
            "link";
    }

    .student__photo {
        max-width: 100%;
        justify-self: center;
        margin: 0 0 40px;
    }

    .student__about {
        margin: 0 0 40px;
    }
}

@media screen and (max-width: 500px) {
    .student__name {
        font-size: 30px;
        letter-spacing: -1.2px;
        margin: 0 0 23px;
    }

    .student__description {
        font-size: 11px;
    }

    .student__about {
        font-size: 11px;
    }

    .about-me {
        padding: 86px 0 70px;
    }
}

@media screen and (max-width: 400px) {
    .student__photo {
        width: 100%;
    }
}