.mainpage-navigation {
    background-color: #272727;
    padding: 24px 0;
}

.navigation__container {
    text-decoration: underline;
}

.navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__link {
    color: #FFF;
    line-height: 1.23;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .navigation__link {
        font-size: 11px;
    }

    .navigation__list {
        gap: 24px;
    }
}